{% extends craft.instaBlog.settings.layout|length ? craft.instaBlog.settings.layout : 'blog/_instablog-layout' %}

{% set params = { section: 'instaBlog' } %}
{% set next = entry.getNext(params) %}
{% set prev = entry.getPrev(params) %}

{% block content %}
  <section id="instablog">
  <header class="center">
    <h1>Blog</h1>  
  </header>

    <article itemscope itemtype="http://schema.org/Article">
      <header>
        <h1 itemprop="name">{{ entry.title }}</h1>
        <p>
          <span itemprop="author">
            {% if entry.author.photoUrl|length %}
              <img src="{{ entry.author.photoUrl }}" alt="{{ entry.author.fullName }}" width="100"><br>
            {% endif %}
            <a href="/blog/author/{{ entry.author.username }}" rel="author">{{ entry.author.fullName }}</a>
          </span>
          <br>
          <span itemprop="datePublished">{{ entry.postDate.format('F d, Y') }}</span>       
        </p>
      </header>

      <div itemprop="articleBody">
        {{ entry.instaBlogBody }}
      </div>

      <p>
        <strong>Categories: </strong>
        <span itemprop="articleSection">
        {% for category in entry.instaBlogCategories %}
        <a href="/blog/category/{{ category.slug }}">{{ category }}</a>
        {% if not loop.last %}, {% endif %}
        {% endfor %}
        </span>   
      </p>
      <p>
        <strong>Tags: </strong> 
        {% for tag in entry.instaBlogTags %}
        <a href="/blog/tag/{{ tag.name|split(' ')|join('-')|lower }}">{{ tag.name }}</a>
        {% if not loop.last %}, {% endif %}
        {% endfor %}
      </p>
      
      <p>
        {% if prev %}
        <a href="{{ prev.url }}"><< Previous</a>
        {% endif %}        
        {% if next %}
        <a href="{{ next.url }}">Next >></a>
        {% endif %}        
      </p>

      <footer>
        {% include 'blog/_share.twig' %}
      </footer>
    </article>


    {% if craft.instaBlog.settings.disqus|length %}
      <aside>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = '{{ craft.instaBlog.settings.disqus }}'; // required
            var disqus_identifier = '{{ entry.section }}-{{ entry.id }}';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';

                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> 
      </aside>
    {% endif %}

  {% include 'blog/_aside.twig' %}

  </section>
{% endblock %}

