{% set shareTitle = blog.title is defined ? blog.title : entry.title %}
{% set shareUrl = blog.url is defined ? blog.url : craft.request.url %}
{% set shareProtocol = craft.request.isSecure ? 'https://' : 'http://' %}
{% set shareDomain = 'http' in shareUrl ? '' : shareProtocol ~ craft.request.serverName %}
{% set shareLink = shareDomain ~ shareUrl %}


<p>
  <a class="fa fa-facebook-square fa-2" href="https://www.facebook.com/sharer/sharer.php?u={{shareLink}}"></a>
  <a class="fa fa-twitter-square fa-2" href="https://twitter.com/home?status={{shareLink}}"></a>
  <a class="fa fa-google-plus-square fa-2" href="https://plus.google.com/share?url={{shareLink}}"></a>
  <a class="fa fa-linkedin-square fa-2" href="https://www.linkedin.com/shareArticle?mini=true&url={{shareLink}}&title={{shareTitle}}&summary=&source="></a>
  <a class="fa fa-envelope-square fa-2" href="mailto:?subject={{shareTitle}}&body={{shareLink}}"></a>
</p>